<div class="col-md-6 no-padding">
    <form role="form" name="sendFeedbackForm" ng-submit="sendFeedback()">
        <error-field model="validation"></error-field>
        <div class="form-group">
            <label for="feedback">Add Feedback</label>
            <input class="form-control" id="feedback" placeholder="{{feedbackContext}}? Be concise." ng-model="feedback">
            <span class="help-block">Your feedback will be sent anonymously.</span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-disabled="isSaving || canSubmit()">Send</button>
        </div>
    </form>
</div>

<div class="col-md-6 no-padding">
    <view-feedback class="row-fluid" board-id=boardId type=type feedback="getUserFeedback()" feedback-context="Your"/>
</div>
