.excella-logo {
    height: 50px;
}

.jsa {
    font-weight: bold;
    margin-top: 5px;
    max-width: 80px;
}

/* Top-fixed navbar requirement */
body { padding-top: 70px; }

/* Angular-Bootstrap needs it, so href='#' can be avoided */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Hack to force hr to appear normal in Scrum Master tools panel */
hr {
    width: 100%
}

.user-badge {
    margin-top: 0;
    margin-right: 10px;
}

.end-retro {
    text-align: center;
}

@media (max-width: 992px) {
    .no-padding {
        padding: 0 !important;
    }
}

.nav-inline {
    margin-top: 14px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.never-pad {
    padding: 0 !important;
}

.no-overflow {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: block;
}

.vertical-middle {
    vertical-align: -webkit-baseline-middle;
    #vertical-align: middle;
}

.row-padding {
    padding-top: 5px;
    padding-bottom: 5px;
}

@media (max-width: 768px) {
    .hide-micro {
        display: none;
    }
}
@media (max-width: 992px) {
    .hide-small {
        display: none;
    }
}
@media (min-width: 1200px) {
    .hide-medium {
        display: none;
    }
}