.excella-logo {
    height: 50px;
}

.jsa {
    font-weight: bold;
    margin-top: 5px;
    max-width: 80px;
}

/* Top-fixed navbar requirement */
body { padding-top: 20px; }

/* Angular-Bootstrap needs it, so href='#' can be avoided */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Hack to force hr to appear normal in Scrum Master tools panel */
hr {
    width: 100%
}

.pad-left {
    margin-left: 10px;
}

.end-retro {
    text-align: center;
}

@media (max-width: 992px) {
    .no-padding {
        padding: 0 !important;
    }
}

.btn .badge.user-badge {
    top: 1px;
}

.never-pad {
    padding: 0 !important;
}

.no-overflow {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: block;
}

.vertical-middle {
    vertical-align: -webkit-baseline-middle;
    #vertical-align: middle;
}

.row-padding {
    padding-top: 5px;
    padding-bottom: 5px;
}

@-ms-keyframes fade {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

@-webkit-keyframes fade {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fade {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

spinner div div div {
    -ms-animation-name: fade;
    -ms-animation-timing-function: linear;
    -ms-animation-iteration-count: infinite;
    -ms-animation-play-state: running;
    -webkit-animation-name: fade;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: fade;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.dragArea, .dropArea {
    touch-action: none;
}

.draggable {
    -ms-scroll-chaining: none;
}

@-ms-keyframes shimmy {
    0%   {-ms-transform: rotate(-1deg);}
    100% {-ms-transform: rotate(1deg);}
}

@-webkit-keyframes shimmy {
    0%   {-webkit-transform: rotate(-1deg);}
    100% {-webkit-transform: rotate(1deg);}
}

@keyframes shimmy {
    0%   {transform: rotate(-1deg);}
    100% {transform: rotate(1deg);}
}

.folder-drag-hover {
    -ms-animation: shimmy 0.5s infinite alternate;
    -webkit-animation: shimmy 0.5s infinite alternate;
    animation: shimmy 0.5s infinite alternate;
}

@-ms-keyframes addColor {
    0%   {
        color: #3c763d;
        background: #dff0d8;
    }
    100% {
        color: inherit;
        background: #ffffff;
    }
}

@-webkit-keyframes addColor {
    0%   {
        color: #3c763d;
        background: #dff0d8;
    }
    100% {
        color: inherit;
        background: #ffffff;
    }
}

@keyframes addColor {
    0%   {
        color: #3c763d;
        background: #dff0d8;
    }
    100% {
        color: inherit;
        background: #ffffff;
    }
}

.animated-add-color {
    -ms-animation: addColor 0.5s;
    -webkit-animation: addColor 0.5s;
    animation: addColor 0.5s;
}

folder .panel-heading {
    height: 42px;
    -webkit-transition: height 0.3s ease, padding-top 0.3s ease, padding-bottom 0.3s ease, margin-top 0.3s ease, margin-bottom 0.3s ease;
    -moz-transition: height 0.3s ease, padding-top 0.3s ease, padding-bottom 0.3s ease, margin-top 0.3s ease, margin-bottom 0.3s ease;
    -ms-transition: height 0.3s ease, padding-top 0.3s ease, padding-bottom 0.3s ease, margin-top 0.3s ease, margin-bottom 0.3s ease;
    -o-transition: height 0.3s ease, padding-top 0.3s ease, padding-bottom 0.3s ease, margin-top 0.3s ease, margin-bottom 0.3s ease;
    transition: height 0.3s ease, padding-top 0.3s ease, padding-bottom 0.3s ease, margin-top 0.3s ease, margin-bottom 0.3s ease;
}

folder .panel-heading.height-zero {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-top: none;
    border-bottom: none;
}

folder .panel-heading input {
    border: none;
    color: inherit;
    background: none;
    outline: none;
    width: 100%;
    border-radius: 4px;
    padding-left: 4px;
    margin-left: -4px;
}

folder .panel-heading input::selection {
    background: #ffffff;
    color: #ffffff;
}

folder .panel-heading input:focus {
    background: #ffffff;
    color: #000000;
}