<nav-bar board-name="board.name" user="user"></nav-bar>
<div class="row-fluid">
    <div class="col-md-12">
        <h3>{{board.title}}
            <small>{{boardPhaseDisplayName()}}</small>
            <a type="button" class="btn btn-sm" ng-click="refresh()"><span
                    class="glyphicon glyphicon-refresh"></span></a></h3>
        <h4>{{user}}
            <small>{{socketStatus}}</small></h4>
    </div>
</div>
<div class="row-fluid">
    <div class="col-md-3" id="boardTools">
        <div class="row-fluid">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Participants On Board</h3>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <a class="list-group-item" ng-repeat="participant in participants track by $index">{{participant}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid" ng-if="isScrumMaster">
            <div class="col-md-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Scrum Master Tools</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row-fluid">Invite Participants: <a ng-href="{{participantMailToLink()}}"
                                                                       title="Send email to participants">E-mail</a> |
                            <a
                                    ng-href="{{participantJoinLink()}}"
                                    title="Send email to participants">Link</a>
                        </div>
                        <div class="row-fluid">Scrum Master Access: <a ng-href="{{scrumMasterAccessLink()}}"
                                                                       title="Scrum Master Access Link">Link</a></div>

                        <div class="row-fluid" ng-if="board.phase == 'feedback-completed'">
                                <hr>
                                <add-theme board-id="board.id"></add-theme>
                            <hr>
                            <button type="button" class="btn btn-default" ng-click="startThemeVoting()">
                                Start
                                Theme Voting
                            </button>
                        </div>
                        <div class="row-fluid" ng-if="board.phase == 'voting-started'">
                                <hr>
                                <button type="button" class="btn btn-default" ng-click="stopThemeVoting()">
                                    End Theme Voting
                                </button>
                        </div>
                        <div class="row-fluid" ng-if="board.phase == 'initial'">
                                <hr>
                                <button type="button" class="btn btn-default"
                                        ng-click="startFeedbackGathering()">Start Feedback Gathering
                                </button>
                        </div>
                        <div class="row-fluid" ng-if="board.phase == 'feedback-started'">
                                <hr>
                                <button type="button" class="btn btn-default"
                                        ng-click="stopFeedbackGathering()">Stop Feedback Gathering
                                </button>
                        </div>
                        <div class="row-fluid">
                                <hr>
                                <a class="btn btn-danger">CLOSE BOARD</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9" id="board">
        <div class="row-fluid">
            <div class="col-md-12">
                <div class="row-fluid">
                    <div class="col-md-offset-3" ng-if="board.phase == 'initial'">(please wait until Scrum Master
                        initiates feedback gathering)
                    </div>
                </div>
                <add-feedback class="row-fluid" ng-if="board.phase == 'feedback-started'"
                              board-id="board.id"></add-feedback>
                <div class="row-fluid" ng-if="board.phase == 'feedback-completed' || board.phase.indexOf('voting') >= 0">
                    <div class="col-md-6">
                        <view-feedback class="row-fluid" feedback="board.feedback"/>
                    </div>
                    <div class="col-md-6">
                        <view-themes class="row-fluid" board-id="board.id" themes="themes"></view-themes>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
