<nav-bar></nav-bar>
<div class="row-fluid">
    <div class="col-md-6 col-md-offset-3">
        <form role="form" ng-submit="createBoard()">
            <error-field model="validation"></error-field>
            <div class="form-group">
                <label for="scrumMasterName">Scrum Master Name</label>
                <input class="form-control" id="scrumMasterName" placeholder="Enter your name" ng-model="user">
            </div>
            <div class="form-group">
                <label for="boardName">Retrospective Name</label>
                <input class="form-control" id="boardName" placeholder="e.g. Project Phoenix - Sprint 6" ng-model="boardName">
            </div>
            <button type="submit" class="btn btn-primary" value="Create new board">Start a new retrospective</button>
        </form>
    </div>
</div>
<branding></branding>