<div class="row">
    <div class="col-md-offset-3 col-md-6 col-md-offset-3">
        <form role="form">
            <error-field model="validation"></error-field>
            <div class="form-group">
                <label for="userName">User Name</label>
                <input class="form-control" id="userName" placeholder="Enter your name" ng-model="user">
            </div>
            <a class="btn btn-primary" value="Join board" ng-click="joinBoard()">Join board</a>
        </form>
    </div>
</div>