<div class="row-fluid">
    <div class="col-md-12 no-padding" id="board">
        <alert type="info"><strong>Prioritization & Action Items</strong> You'll be dot voting on the list of items below. Use all of your votes. You can add many votes on a single item or clear your votes and start again.</alert>
        <view-themes ng-if="board.phase != phases.actionVotingEnded" board-id="board.id" themes="board.themes"></view-themes>

        <div class="row-fluid" ng-if="board.phase == phases.actionVotingEnded">
            <folder-holder class="col-xs-11 col-sm-11 col-md-12 col-lg-12" lists="board.actionItems"></folder-holder>
        </div>
    </div>
</div>