<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="btn-group navbar-btn pull-right" ng-if="participants" dropdown is-open="status.isopen">
            <button type="button" class="btn dropdown-toggle" ng-disabled="disabled">
                <span class="glyphicon glyphicon-user badge user-badge">{{participants.length}}</span><span class="hidden-xs hidden-sm pad-left">Participants</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation" ng-repeat="participant in participants track by $index"><a role="menuitem">{{participant}}</a></li>
            </ul>
        </div>
        <connection-status show-on-connected="false" class="pull-right navbar-text" status="socketStatus"></connection-status>

        <a class="navbar-brand">{{boardName || "Remote"}} Retro</a>
    </div>
</nav>
