<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" style="margin-left: 10px;" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <connection-status show-on-connected="true" class="pull-right nav-inline" status="socketStatus"></connection-status>
            <span class="glyphicon glyphicon-user badge navbar-toggle user-badge">{{participants.length}}</span>

            <a class="navbar-brand">{{boardName || "Remote"}} Retro</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <p class="navbar-text navbar-right" ng-if="socketStatus == 'connected'">Signed in as {{user}}</p>
            <ul class="nav navbar-nav" ng-if="participants">
                <li class="dropdown">
                    <a class="dropdown-toggle">Participants <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation" ng-repeat="participant in participants track by $index"><a role="menuitem">{{participant}}</a></li>
                    </ul>
                </li>
                <li></li>
            </ul>
        </div>
    </div>
</nav>
