<div class="row-fluid">
    <div class="col-md-3 no-padding" id="boardTools">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Scrum Master Tools</h3>
            </div>
            <div class="panel-body">
                <div class="row-fluid row-padding">
                    <span>Invite Participants</span>
                    <a class="btn btn-default glyphicon glyphicon-link" target="_blank"
                       ng-href="{{participantJoinLink(board.id)}}"
                       title="Copy link to send participants"></a>
                    <a class="btn btn-default glyphicon glyphicon-envelope" ng-href="{{participantMailToLink(board.id, board.title)}}"
                       title="Send email to participants"></a>
                </div>
                <div class="row-fluid row-padding">
                    <span>Scrum Master</span>
                    <a style="left:23px" class="btn btn-warning glyphicon glyphicon-link" ng-href="{{scrumMasterAccessLink(board.id, board.scrumMasterKey)}}"
                       title="Copy link to access as Scrum Master"></a>
                </div>
                <div class="row-fluid row-padding">
                    <span >Close Retro</span>
                    <a style="left:47px" class="btn btn-danger glyphicon glyphicon-off"></a>
                </div>
                <div class="row-fluid" ng-if="board.phase != phases.summary">
                    <hr>
                    <button type="button" class="btn btn-default"
                            ng-click="goToNextPhase()">{{actionText}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>