<div class="row-fluid">
    <div class="col-md-12 no-padding" id="board">
        <alert type="info">Once your Scrum Master closes this retrospective, you will not be able to access this information again. You may save or print this page.</alert>

        <div class="row-fluid">
            <h2>What Went Well</h2>
            <folder-holder class="col-xs-11 col-sm-11 col-md-12 col-lg-12" lists="board.wellFeedback" readonly="true"></folder-holder>
        </div>

        <div class="row-fluid">
            <h2>What Needs To Be Improved</h2>
            <folder-holder class="col-xs-11 col-sm-11 col-md-12 col-lg-12" lists="board.improveFeedback" readonly="true"></folder-holder>
        </div>

        <div class="row-fluid">
            <h2>Prioritized Action Items</h2>
            <folder-holder class="col-xs-11 col-sm-11 col-md-12 col-lg-12" lists="board.actionItems"readonly="true"></folder-holder>
        </div>
    </div>
</div>