<div class="panel panel-default">
    <div class="panel-heading"><strong>{{feedbackContext}} Feedback</strong></div>
    <div class="panel-body" ng-if="!feedbackList || feedbackList.length == 0">No feedback</div>
    <ul class="list-group">
        <form role="form" name="editForm" editable-form>
        <div ng-repeat="feedback in feedbackList track by $index">

            <span editable-text="feedbackList[$index].feedback[0]" e-form="editForm">
                {{feedback.feedback[0]}}
              </span>
            <button class="btn btn-default" ng-click="editForm.$show()" ng-hide="editForm.$visible">
                edit
            </button>

        </div>
        </form>
    </ul>
</div>
