<div class="panel panel-default">
    <div class="panel-heading">Prioritize<span class="pull-right"><span class="badge" ng-if="canVote">Unused Votes: {{unusedVotes}} </span><a class="btn btn-sm btn-danger" ng-disabled="!canVote" ng-click="clearVotes()" style="margin-left: 5px; margin-top: -5px;">Clear <span class="glyphicon glyphicon-refresh"/></a></span></div>
    <div class="panel-body" ng-if="!themes || themes.length == 0">No items</div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="theme in themes track by $index">
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="badge pull-right" style="margin-right: 5px;">{{theme.votes}}</span>
                </span>
                <span class="form-control">{{theme.description}}</span>
                <span class="input-group-btn">
                    <a class="btn btn-primary" ng-disabled="!canVote" ng-click="upVote(theme.id)"><span class="glyphicon glyphicon-plus"/></a>
                </span>
            </div>
        </li>
    </ul>
</div>