<div class="row-fluid">
    <div class="col-md-12 no-padding" id="board">
        <alert type="info"><strong>What Went Well?</strong> Once your Scrum Master initiates feedback gathering you may share your feedback.</alert>
        <add-feedback ng-if="board.phase == phases.wellFeedbackStarted"
                      board-id="board.id" type="well"></add-feedback>
        <div class="row-fluid" ng-if="board.phase == phases.wellFeedbackCompleted">
            <folder-holder class="col-xs-11 col-sm-11 col-md-12 col-lg-12" on-change="sendThemes" readonly="!isScrumMaster" lists="board.wellFeedback"></folder-holder>
        </div>
    </div>
</div>