<div class="row-fluid">
    <div class="col-md-12 no-padding" id="board">
        <alert type="info">Once your Scrum Master initiates feedback gathering you may provide feedback on what needs to be improved from this sprint.</alert>
        <add-feedback ng-if="board.phase == phases.improveFeedbackStarted"
                      board-id="board.id" type="improve"></add-feedback>
        <div class="row-fluid" ng-if="board.phase == phases.improveFeedbackCompleted">
            <folder-holder class="col-xs-11 col-sm-11 col-md-12 col-lg-12" lists="board.improveFeedback"></folder-holder>
        </div>
    </div>
</div>