<div class="row-fluid">
    <div class="col-md-12 no-padding" id="board">
        <alert type="info"><strong>What Needs To Be Improved?</strong> Once your Scrum Master initiates feedback gathering you may share your feedback.</alert>
        <span ng-show="isScrumMaster && board.phase == phases.improveInitial" class="help-block">Announce to your team that you will start feedback collection. Time box the exercise and encourage everyone to share feedback.</span>
        <add-feedback ng-if="board.phase == phases.improveFeedbackStarted"
                      feedback-context="What Needs To Be Improved"
                      board-id="board.id" type="improve"></add-feedback>
        <div class="row-fluid" ng-if="board.phase == phases.improveFeedbackCompleted">
            <span ng-show="isScrumMaster" class="help-block">Group feedback together by dragging and dropping one on to another. The initial item being dropped on will define the header for that group of feedback. You may re-arrange by un-grouping.</span>
            <folder-holder class="col-xs-11 col-sm-11 col-md-12 col-lg-12" on-change="sendThemes" readonly="!isScrumMaster" lists="board.improveFeedback"></folder-holder>
        </div>
    </div>
</div>