<nav-bar board-name="board.title" user="user" socket-status="socketStatus" participants="participants" is-scrum-master="isScrumMaster"></nav-bar>
<alert type="info">{{boardPhaseDisplayName()}}</alert>
<alert type="warning" ng-if="socketStatus == 'reconnecting'">Lost connection to the server. Trying to reconnect.</alert>
<alert type="danger" ng-if="socketStatus == 'failed' || socketStatus == 'disconnected'">Lost connection to the server. Click on <a type="button" class="btn btn-sm" ng-click="refresh()"><span
        class="glyphicon glyphicon-refresh"></span></a> to re-connect </alert>

<div class="row-fluid">
    <div class="col-md-9 no-padding" id="board">
        <add-feedback class="row-fluid" ng-if="board.phase == 'well-feedback-started'"
                      board-id="board.id"></add-feedback>
        <div class="row-fluid" ng-if="board.phase == 'well-feedback-completed' || board.phase.indexOf('voting') >= 0">
            <div class="col-md-6 no-padding">
                <view-feedback class="row-fluid" feedback="board.feedback"  feedback-context="Team"/>
            </div>
            <div class="col-md-6 no-padding">
                <view-themes class="row-fluid" board-id="board.id" themes="themes"></view-themes>
            </div>
        </div>
    </div>
</div>
