<nav-bar></nav-bar>
<div class="row-fluid">
    <div class="jumbotron">
        <h1>Thank you!</h1>
        <p>You've just completed a retrospective using Excella Retro. We're continually improving this app and would love to receive your feedback/endorsement on Twitter.</p>
        <p id="twitter">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://retro.excella.com" data-text="I just completed an Agile SCRUM retrospective using Excella Retro. It's completely free. Try it now!" data-via="excellaco" data-size="large">Tweet</a>
        </p>
    </div>
</div>
<div class="row-fluid text-center">
    <h2><a href="/#/">Start or join a retrospective</a></h2>
</div>
<branding></branding>