<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <div ng-if="hideBody === false">
        {{body}}
    </div>
    <div ng-if="hideBody === true">
        <ul>
            <li ng-repeat="feedback in feedbackList.slice().reverse()">
                {{feedback.feedback[0]}}
            </li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()" ng-if="hasCancel">Cancel</button>
</div>